
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.devinfo
config.py
FoodInspect.db
develop/__pycache__/*
data/__pycache__/*
develop/notebooks/.ipynb_checkpoints/*
develop/msiaLab_sphinx/*
ModelSpec.pickle
FI.sublime-workspace
data/load_data.sublime-workspace