
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.devinfo
config.py
FoodInspect.db
develop/__pycache__/*
develop/.ipynb_checkpoints/*
develop/msiaLab_sphinx/*