<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>Food Inspection</title>
<h1> {{ output1 }} </h1>


<form action="{{ url_for('addRestaurant') }}" method="post">
  Minor Infractions:<br>
  <input type="integer" name="m_infracs"><br>
  
  Serious Infractions:<br>
  <input type="integer" name="s_infracs"><br>
  
  Critical Infractions:<br>
  <input type="integer" name="c_infracs"><br>
  
  Zipcode:<br>
  <input type="integer" name="zip"><br>
  
  Risk Category:<br>
  <input type="str" name="risk"><br>
  
  Type of Inspection:<br>
  <input type="str" name="type"><br>
  
  <input type="submit" value="Submit">
</form>

